.xaxis {
	font-size: 0.9em;
}

.yaxis {
	font-size: 0.9em;
}

.kde-line {
	stroke: black;
	stroke-width: 2;
	fill: none;
}

.yaxis-text {
	text-anchor: middle;
	font-size: 1em;
}

.xaxis-text {
	text-anchor: middle;
	font-size: 1em;
}

.legend-group {
	font-size: 0.8em;
	stroke-width: 2;
}

.ratio-text {
	text-anchor: middle;
	font-size: xx-large;
}

.ratio-title-text {
	font-size: xx-large;
	text-anchor: middle;
}

.ratio-title-subtext {
	font-size: 0.7em;
	text-anchor: middle;
	stroke: grey;
	stroke-width: 0.1px;
}

body {
	background-image: url("../../../public/img/so-white.png");
}